<%- model_class = Paciente -%>

<fieldset class='caixa'>
  <legend class='caixa'><%=t '.title', :default => model_class.model_name.human.pluralize.titleize  %> (<%= @totalpacientes %>)</legend>
 
<%= will_paginate @pacientes, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_paciente_path,
            :class => 'btn btn-primary' %>


<table class="table table-striped">

  <tbody>
    <% for paciente in @pacientes %>
      <tr>
        <td><%= link_to paciente.nm_paciente, edit_paciente_path(paciente) %></td>

        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
              paciente_path(paciente), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              paciente_path(paciente),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_paciente_path,
            :class => 'btn btn-primary' %>
</fieldset>