
<%= simple_form_for @receita, html: { class: 'form-horizontal' } do |f| %>

  <fieldset class='caixa'>
    <legend class='caixa'><%= titulo %>Receita</legend>

    <%= f.hidden_field :paciente_id %>

    Paciente: <b><%= @paciente.nm_paciente  %></b>

    <p>

    <%= f.input :data, format: :default, inline_label: 'Data da receita', html5: true, input_html: { class: 'input-large' } %>

    <div id='receitai'>
      <%= f.simple_fields_for :receitais do |builder| %>
        <%= render 'receitai_fields', f: builder %>
      <% end %>
    
      <%= link_to_add_association "Adiciona medicamento", f, :receitais %>
    </div>
    <br>
    <br>
    <%= f.submit "Gravar", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                paciente_path(@receita.paciente_id), :class => 'btn' %>
  </fieldset> 
<% end %>

<script>
$(document).ready(function(){
  alert("testando");
})
</script>