<% form_for(@clilab) do |f| %>
  <%= render "shared/error_messages", :target => @clilab %>  

  <div class="field">
    <%= f.label 'Nome' %><br />
    <%= f.text_field :nm %>
  </div>

  <div class="actions">
    <%= f.submit nome_botao %>
  </div>
<% end %>

<%= link_to 'Mostrar', @clilab %> |
<%= link_to 'Voltar', clilabs_path %>

  