<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
  <%=h @receita.paciente.nm_paciente %>
</p>
<br>
<br>
<table width = 600px>
<% @receita.receitais.each do |r| %>
     <tr>
     <td colspan=2><%= r.medicamento.viaaplic.descricao %></td>
     </tr>
     <tr>
     <td>&nbsp &nbsp <%= r.medicamento.descricao %></td>
     <td><%= r.qtde %></td>
     </tr>
     <tr>
     <td colspan=2>&nbsp &nbsp &nbsp &nbsp &nbsp <%= r.dose %></td>
     </tr>
     <tr><td colspan=2>&nbsp </td></tr>
	 
<% end %>
</table>
<% (8 - @receita.receitais.size).times { %>
<br>
<%  } %>
<% mes =    case @receita.data.month
            when 1
                'Janeiro'
            when 2
                'Fevereiro'
            when 3
                'Março'
            when 4
                'Abril'
            when 5
                'Maio'
            when 6
                'Junho'
            when 7
                'Julho'
            when 8
                'Agosto'
            when 9
                'Setembro'
            when 10
                'Outubro'
            when 11
                'Novembro'
            when 12
                'Dezembro'
            end
%>
<p>
  &nbsp &nbsp &nbsp Joaçaba, <%=h @receita.data.day.to_s + ' de ' + mes + ' de ' + @receita.data.year.to_s + '.' %>
</p>
